h2{
    text-align: left;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

p{
    font-size: 18px;
    line-height: 25px;
    color: black;
    text-indent:2em
}

li{
    font-size: 18px;
    line-height: 20px;
    color: black;
    font-family: 'Lora', serif;
}

code{
    font-size: 12px;
    line-height: 15px;
    color: black;
}